* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body{
    background-color: #fff;
}
#container {
    background-color: #fff;
    width: 100%;
    height: 500px;
}

#informacoes {
    display: inline-block;
    margin: 30px;
    width: 700px;
    margin-top: 20px;
    border: 1px solid black;
    margin: 0 300px;

}

#informacoes h1{
    text-transform: uppercase;
    text-align: center;
    color: black;
    margin: 0 auto;
}

#topo{
    height: 80px;
    background: #228B22;
}

h1{
    text-transform: uppercase;
    text-align: center;
    color: black;
}

#busca{
    display: flex;
    padding: 10px;
    background-color: #228B22;
    border-bottom: 1px solid black;

}

.busca_cep{
    display: flex;
    height: 30px;
    margin: 10px;
}

table{
    border: 1px solid black;
    background-color: #fff;
}

td{
    border: 1px solid black;
    padding: 10px;
}

tr{
    border: 1px solid black;

}

#rodape{
    padding: 10px;
    background-color: #fff;
    text-align:center;
    margin-top: 170px;
}

#rodape span{
    color: #000;
    padding: 10px;
}
